<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PRODUCT</title>
</head>
<body>

<h1>Création d'un produit</h1>

 <form th:action="@{/product-add}" method="POST" enctype="multipart/form-data">
        <div>
            <label>Name:</label>
            <input type="text" name="nom" required>
        </div>
        <div>
            <label>Price:</label>
            <input type="number" name="price" required>
        </div>
        
        <div>
            <label>Catégorie:</label>
              <input type="text" name="category" required>
        </div>
        
         <div>
            <label>Picture:</label>
              <input type="file" name="img" accept="product/*" required>
        </div>
        <button type="submit">Save Product</button>
    </form>
</body>
</html>